<?xml version="1.0"?>
<configuration>

    <configSections />
    <appSettings />
    <connectionStrings />
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
      <pages>
      </pages>


    </system.web>
    
    <system.webServer>
      <modules>
        <add name="OpenRasta" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet" />
      </modules>
      <handlers>
        <add name="OpenRasta" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaRewriterHandler, OpenRasta.Hosting.AspNet"/>
      </handlers>
    </system.webServer>
</configuration>
