<?xml version="1.0"?>
<configuration>
	
	<configSections />
	<appSettings />
	<connectionStrings />
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
		<customErrors mode="Off"/>
		<trace enabled="true" localOnly="false" />
		<pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms">
			<namespaces>
				<add namespace="System.Web" />
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta.Codecs.WebForms"/>
				<add namespace="OpenRasta"/>
				
				<add namespace="OpenOptimal.Web.Handlers" />
				<add namespace="OpenOptimal.Web.Resources" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</httpModules>
		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
		</httpHandlers>
	
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</modules>
		<handlers>
			<add name="OpenRastaHandler" verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
		</handlers>
	</system.webServer>
	
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="openrasta" switchName="OpenRasta">
				<listeners>
					<add name="WebPageTraceListener" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="OpenRasta" value="All"/>
		</switches>
		<sharedListeners>
			<add name="DebugTraceListener" type="OpenOptimal.Diagnostics.DebugTraceListener, OpenOptimal.Diagnostics" />
			<add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application" />
			<add name="TextWriterTraceListener"
			     type="System.Diagnostics.TextWriterTraceListener"
			     initializeData="c:\log\TextWriterOutput.log" />
			<add name="WebPageTraceListener"
			     type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		
		</sharedListeners>
	</system.diagnostics>


</configuration>
