<configuration>
	
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</httpHandlers>
		<httpModules>
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
			<add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</httpModules>
		<pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms">
			<namespaces>
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta.Codecs.WebForms"/>
				<add namespace="OpenRasta"/>
				
				<add namespace="OpenOptimal.web.Handlers" />
				<add namespace="OpenOptimal.web.Resources" />
			</namespaces>
		</pages>
		
		<compilation
			defaultLanguage="c#"
			debug="true"
		/>
		
		<customErrors mode="Off" />
		
		<authentication mode="Windows" />
		<authorization>
			<allow users="*" />
		</authorization>
		
		<trace
			enabled="false"
			requestLimit="10"
			pageOutput="false"
			traceMode="SortByTime"
			localOnly="true"
		/>
		
		<sessionState
			mode="InProc"
			cookieless="true"
			timeout="20"
		/>
		
		<!--  GLOBALIZATION
		  This section sets the globalization settings of the application.
	-->
		<globalization
			requestEncoding="utf-8"
			responseEncoding="utf-8"
			culture="en-GB"
			uiCulture="en-GB"
		/>
	
	
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="WebDAVModule" />
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
			<add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<add name="OpenRastaHandler" verb="POST,GET" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet" />
		</handlers>
	</system.webServer>
	
	<connectionStrings>
		<add name="OpenOptimal" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=OpenOptimal;Integrated Security=SSPI;" />
	</connectionStrings>

</configuration>

